# QUESTIONS:-

1. Check for missing values in each column and handle them?
2. Remove duplicate rows from the dataset?
3. How do you filter rows where sleep duration is less than 6 hours?
4. How do you rename columns for better readability?
5. How do you calculate average sleep duration per age group?
6. How do you merge another dataset (e.g., health statistics) with this dataset?
7. How do you sort data by sleep duration in descending order?
8. How do you group data by sleep quality and calculate average heart rate?
9. How do you pivot the dataset to show average sleep duration on the basis of daily steps?
10. How do you detect correlations between sleep duration and health metrics like heart rate and weight?
11. How do you create a rolling 7-day average of sleep duration?
12. How do you find the top 5 users with the highest average sleep duration?
13. How do you handle categorical variables for machine learning?
14. Create a new column “sleep_quality” based on sleep duration?
15. How do you load the cleaned and transformed dataset into a SQL database?

<br>

___

In [2]:
!pip install SQLAlchemy pymysql

Requirement already satisfied: SQLAlchemy in c:\users\pavilion\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (2.0.43)
Requirement already satisfied: pymysql in c:\users\pavilion\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (1.1.2)
Requirement already satisfied: greenlet>=1 in c:\users\pavilion\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from SQLAlchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\pavilion\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from SQLAlchemy) (4.12.2)

<br>

# Importing libraries

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
engine = create_engine("mysql+pymysql://root:12345@localhost:3306/etl_pro")
conn= engine.connect()
print("sucessfully connected")

sucessfully connected

## Load datsets

In [5]:
sd=pd.read_csv("C:/Users/Pavilion/Downloads/sleep disorder.zip")
hs=pd.read_csv("C:/Users/Pavilion/Downloads/health stats.zip")
sd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [7]:
hs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   User ID                  100 non-null    int64
 1   Age                      100 non-null    int64
 2   Gender                   100 non-null    object
 3   Sleep Quality            100 non-null    int64
 4   Bedtime                  100 non-null    object
 5   Wake-up Time             100 non-null    object
 6   Daily Steps              100 non-null    int64
 7   Calories Burned          100 non-null    int64
 8   Physical Activity Level  100 non-null    object
 9   Dietary Habits           100 non-null    object
 10  Sleep Disorders          100 non-null    object
 11  Medication Usage         100 non-null    object
dtypes: int64(5), object(7)
memory usage: 9.5+ KB

___

# Solutions :-

1. Check for missing values in each column and handle them?

In [7]:
sd.isnull().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

2. Remove duplicate rows from the dataset?

In [8]:
sd.drop_duplicates()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

3. How do you filter rows where sleep duration is less than 6 hours?

In [10]:
sd[sd['Sleep Duration']<6]

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
5,6,Male,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,Insomnia
80,81,Female,34,Scientist,5.8,4,32,8,Overweight,131/86,81,5200,Sleep Apnea
81,82,Female,34,Scientist,5.8,4,32,8,Overweight,131/86,81,5200,Sleep Apnea
265,266,Female,48,Nurse,5.9,6,90,8,Overweight,140/95,75,10000,Sleep Apnea

4. How do you rename columns for better readability?

In [30]:
sd.rename(columns={'Sleep Duration':'Hours_sleep', 'Age':'Age_years'})

,Person ID,Gender,Age_years,Occupation,Hours_sleep,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

5. How do you calculate average sleep duration per age group?

In [37]:
sd.groupby('Age')['Sleep Duration'].mean()

Age
27    6.100000
28    6.020000
29    6.669231
30    7.569231
31    7.444444
32    6.588235
33    6.061538
34    5.800000
35    7.216667
36    7.066667
37    7.250000
38    7.185000
39    7.240000
40    7.550000
41    7.533333
42    7.433333
43    7.150000
44    6.440000
45    6.621429
48    6.833333
49    6.490909
50    6.155000
51    7.412500
52    7.177778
53    8.423529
54    8.414286
55    8.100000
56    8.200000
57    8.155556
58    8.000000
59    8.093750
Name: Sleep Duration, dtype: float64

6. How do you merge another dataset with this dataset?

In [40]:
hs.drop_duplicates(subset=['User ID'])
merged=pd.merge(sd,hs, left_on= "Person ID", right_on='User ID', how= "inner")

7. How do you sort data by sleep duration in descending order?

In [35]:
sd.sort_values(by='Sleep Duration', ascending=False)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
323,324,Female,53,Engineer,8.5,9,30,3,Normal,125/80,65,5000,NaN
320,321,Female,53,Engineer,8.5,9,30,3,Normal,125/80,65,5000,NaN
317,318,Female,53,Engineer,8.5,9,30,3,Normal,125/80,65,5000,NaN
316,317,Female,53,Engineer,8.5,9,30,3,Normal,125/80,65,5000,NaN
327,328,Female,53,Engineer,8.5,9,30,3,Normal,125/80,65,5000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
5,6,Male,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,Insomnia
265,266,Female,48,Nurse,5.9,6,90,8,Overweight,140/95,75,10000,Sleep Apnea
81,82,Female,34,Scientist,5.8,4,32,8,Overweight,131/86,81,5200,Sleep Apnea
80,81,Female,34,Scientist,5.8,4,32,8,Overweight,131/86,81,5200,Sleep Apnea

8. How do you group data by sleep quality and calculate average heart rate?

In [36]:
sd.groupby('Quality of Sleep')['Heart Rate'].mean()

Quality of Sleep
4    83.400000
5    77.714286
6    73.209524
7    69.415584
8    68.633028
9    67.154930
Name: Heart Rate, dtype: float64

9.  How do you pivot the dataset to show average sleep duration on the basis of daily steps?

In [56]:
sd.pivot_table(values='Sleep Duration', index='Occupation', aggfunc='mean')

                      Sleep Duration
Occupation
Accountant                  7.113514
Doctor                      6.970423
Engineer                    7.987302
Lawyer                      7.410638
Manager                     6.900000
Nurse                       7.063014
Sales Representative        5.900000
Salesperson                 6.403125
Scientist                   6.000000
Software Engineer           6.750000
Teacher                     6.690000

10. How do you detect correlations between sleep duration and health metrics like heart rate and weight?

In [41]:
merged[['Sleep Duration', 'Calories Burned']].corr()

                 Sleep Duration  Calories Burned
Sleep Duration         1.000000         0.046903
Calories Burned        0.046903         1.000000

11. How do you create a rolling 7-day average of sleep duration?

In [42]:
sd['Sleep Duration'].rolling(window=7).mean()

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
369    8.071429
370    8.042857
371    8.057143
372    8.071429
373    8.071429
Name: Sleep Duration, Length: 374, dtype: float64

12. How do you find the top 5 users with the highest average sleep duration?

In [44]:
sd.groupby('Person ID')['Sleep Duration'].mean().sort_values(ascending=False)

Person ID
324    8.5
321    8.5
318    8.5
317    8.5
328    8.5
      ...
5      5.9
6      5.9
266    5.9
82     5.8
81     5.8
Name: Sleep Duration, Length: 374, dtype: float64

13. How do you handle categorical variables for machine learning?

In [46]:
pd.get_dummies(sd,columns=['Occupation'])

,Person ID,Gender,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,...,Occupation_Doctor,Occupation_Engineer,Occupation_Lawyer,Occupation_Manager,Occupation_Nurse,Occupation_Sales Representative,Occupation_Salesperson,Occupation_Scientist,Occupation_Software Engineer,Occupation_Teacher
0,1,Male,27,6.1,6,42,6,Overweight,126/83,77,...,False,False,False,False,False,False,False,False,True,False
1,2,Male,28,6.2,6,60,8,Normal,125/80,75,...,True,False,False,False,False,False,False,False,False,False
2,3,Male,28,6.2,6,60,8,Normal,125/80,75,...,True,False,False,False,False,False,False,False,False,False
3,4,Male,28,5.9,4,30,8,Obese,140/90,85,...,False,False,False,False,False,True,False,False,False,False
4,5,Male,28,5.9,4,30,8,Obese,140/90,85,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,8.1,9,75,3,Overweight,140/95,68,...,False,False,False,False,True,False,False,False,False,False
370,371,Female,59,8.0,9,75,3,Overweight,140/95,68,...,False,False,False,False,True,False,False,False,False,False
371,372,Female,59,8.1,9,75,3,Overweight,140/95,68,...,False,False,False,False,True,False,False,False,False,False
372,373,Female,59,8.1,9,75,3,Overweight,140/95,68,...,False,False,False,False,True,False,False,False,False,False
373,374,Female,59,8.1,9,75,3,Overweight,140/95,68,...,False,False,False,False,True,False,False,False,False,False

14. Create a new column “sleep_quality” based on sleep duration?

In [48]:
sd.drop('Quality of Sleep', axis='columns')

,Person ID,Gender,Age,Occupation,Sleep Duration,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [54]:
def quality(hours):
    if hours<6:
        return 'poor'
    elif 6<=hours<=8:
        return 'good'
    else:
        return 'excellent'

sd['Sleep quality']=sd['Sleep Duration'].apply(quality)
sd.head(5)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Sleep quality
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN,good
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,good
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,good
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,poor
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,poor

15. How do you load the cleaned and transformed dataset into a SQL database?

In [55]:
sd.to_sql('sleep_table' , con=engine, if_exists='replace', index=False)

374

___